.contact-hero-section {
  background: url(../../../assets/img/cobtactbg.png);
  height: 750px;
  margin-top: 20px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -71px;
}

.contact-hero-section h1 {
  padding-top: 360px;
  color: #fff;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.mouseeffectone {
  display: block;
  margin: auto;
  text-align: center;
}

.mouseimg-about {
  padding-top: 220px !important;
  width: 45px !important;
}

.icon-bar {
  position: relative;
  top: 50%;
  margin-top: -310px;
  margin-right: 95%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.icon-bar-button {
  z-index: 2;
  position: fixed;
  margin-left: 93%;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar-button button {
  background-color: #24447f;
  height: 200px;
  width: 70px;
  color: #fff;
  border: none;
  font-size: 15px;
}

.icon-bar-button button:hover {
  background-color: #000;
  color: #fff;
}

.icon-bar-button ul li {
  text-align: right;
  margin-left: -40px;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
}

.icon-bar-service-detail {
  position: relative;
  top: 50%;
  margin-top: -310px;
  margin-right: 95%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar-service-detail a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.myStyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  height: 240px;
  border-radius: 100% !important;
  width: 75%;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #202020;
  letter-spacing: 0.5px;
}
