.btn-primary {
  color: #fff;
  background-color: black !important;
  border-color: #fff !important; /*set the color you want here*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: black !important;
  background-color: #fff !important;
  border-color: #285e8e; /*set the color you want here*/
}
